body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.calculator {
    background-color: lightgrey;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.screen-container {
    min-height: 200px;
    margin-top: 50px;
    width: 85%;
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.device-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */
    width: 70%;
}

.device-name {
    color: white;
    border-bottom: 1px solid white;
    font-size: 20px;
}

.device-type {
    color: lightblue;
    font-size: 14px;
}

.screen {
    color: lightblue;
    width: 70%;
    text-align: right;
    font-size: 22px;
    font-family: monospace;
    /* border: 1px solid white; */
}

.keypad-container {
    min-height: 295px;
    margin-top: 22px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: space-evenly;
    padding-top: 10px;
}

.switch-container {
    background-color: black;
    width: 74px;
    height: 44px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 8px;
}

.dot {
    width: 16px;
    height: 16px;
    background-color: darkgreen;
    border-radius: 50%;
    margin-top: 3px;
}

.switch {
    width: 20px;
    height: 20px;
    color: rgb(142, 142, 142);
    padding: 0px;
}

.key {
    width: 55px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    color: white;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: rgb(0, 140, 255);
}

.black {
    background-color: black;
}

.grey {
    background-color: rgb(123, 123, 123);
}

.row-start {
    margin-left: 14px;
}